snippet dotenv "load .env into process.env" b
require('dotenv').config();
var token = process.env.SECRET_TOKEN || '<SECRET_TOKEN>';
endsnippet

snippet for-of-object-own "for in loop object own properties" b
for (let ${1:key} of ${2:object}) {
	if ($2.hasOwnProperty($1)) {
		console.log($1 + " -> " + $2[$1]);
	};
};
endsnippet

snippet join-array "join array like entities" b
${1:joinedString} = Array.prototype.join.call(${2:arrayObject}, ${3:joinCharStr});
endsnippet

snippet promise-async "return a promise from an async function (convert)" b
return new Promise(function(fullfill, reject) {
	${1:async_function_call(..}, function(err, value) {
		if(err) reject(err);
		else fullfill(value);
	});
});
endsnippet

snippet promise-chain-array "return seq promise chain over array input (chain)" b
return ${1:inputArray}.reduce((promise, arrayItem) => {
	return promise
	.then((result) => {
		return ${2:functionThatReturnsPromise}(arrayItem);
	})
}, $2($1[0]));
endsnippet
